#######################
# Debugging           #
#######################

ipdb
pprintpp

#######################
# Testing             #
#######################

deepdiff
pytest
pytest-logging
pytest-cov

#######################
# Coding style        #
#######################

flake8
pep8-naming


#######################
# Documentation       #
#######################

sphinx
autoapi
plantweb
pygments-github-lexers
sphinx-readable-theme
